/* style.css */
/* 
  배경: #fff
  포인트 컬러: #ca5c43
  본문 text: #666
  제품, 어티클 제목: #333
*/
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
ul{ list-style-type: none;}
a{ text-decoration: none;}
body{
  font-family: 'Nanum Gothic', 'Open Sans', '맑은 고딕', sans-serif;
  color: #666;
  overflow: hidden;
}
h1{
  font-size: 28px;
}
h2{
  font-family: 'Noto Serif', serif;
  font-size: 28px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p{
  font-size: 16px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.8em;
}
.container{
  position: relative;
  width: 1200px;
  border: 1px solid red;
  margin: 0 auto;
}

/* 헤더 */
#main-header{
  background: #000;
  color: #fff;
  height: 60px;
}

#main-header h1{
  position: absolute;
  left: 0; top: 14px;
}
#main-header nav{
  position: absolute;
  right: 0; top: 22px;
}
#main-header nav ul li{
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#main-header nav ul li:last-child{
  margin-right: 0;
}
/* https://jsfiddle.net/tailofmoon/b7orLmqv/ */
#main-header nav ul li a{ color: #fff;}
#main-header nav ul li a:hover{ 
  /* color: #ca5c43; */
  color: rgba(255,255,255, 0.8);
}

/* 메인 비주얼 */
#main-visual{
  width: auto;
  height: 500px;
  background: #ccc;
  background-image: url('../images/visual.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
}
#main-visual h2{
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Nanum Gothic', 'Open Sans', '맑은 고딕', sans-serif;
  font-size: 60px;
}
#main-visual p{
  margin-bottom: 2em;
}
.btn-more{
  color: #fff;
  background: #ca5c43;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-more:hover{
  background: rgba(202,92,67, 0.8);
}
#main-visual .container{
  padding-top: 80px;
}

/* 스패셜 커피 브랜드 섹션 */
#brand{
  text-align: center;
}
#brand h2, #brand p{
  padding-left: 295px;
  padding-right: 295px;
}